{% extends 'flatpages/default.html' %}

{% load censor_filter %}

{% block title %}
News
{% endblock title %}

{% block content %}
    {% if all_posts %}
    <h1 align="center">Список новостей {{ time_now|date:'d.m.y-h:m:s' }}</h1>
    <table cellpadding="10" align="center">
        <tr>
            <td width="10%"><p style="font-size: 20px">Уникальный номер</p></td>
            <td width="10%"><p style="font-size: 20px">Заголовок</p></td>
            <td width="15%"><p style="font-size: 20px">Время</p></td>
            <td width="50%"><p style="font-size: 20px">Содержание</p></td>
        </tr>
        {% for post in all_posts %}
        <tr>
            <td><a href=" {{post.pk}} ">{{ post.pk }}</a></td>
            <td>{{ post.title_post }}</td>
            <td>{{ post.creation_time_post }}</td>
            <td>{{ post.text_post|truncatechars:320|censor }}</td>
        </tr>
        {% endfor %}
    </table>
    <p align="center" style="font-size: 20px">Количество новостей: {{ all_posts|length }}</p>
    {% else %}
        <h1>Новостей нет</h1>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    {% if is_not_author %}
    <button><a href="/news/upgrade/">Хочу стать автором !!!</a></button>
    {% endif %}
{% endblock content %}
